.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

.menu a{
    margin-right: 20px;
    text-decoration: none;
}

.menu a:hover{
    border-bottom: 1px solid #0d6efd;
    padding: 5px 0;
}

.social a{
    margin-left: 20px;
}
